body {
 font-family:"Georgia", "Times New Roman", serif;
 background-color:#efeee7;
 color:#333333;
 margin:0;
 padding:0;
}

h1{
    background-color:#333333;
    color:#eee;
    font-size:28px;
    padding:30px;
    text-align:center;
    margin-top:0;

}

h3 {
  font-size:24px;
}

.container{
    width:1024px;
    margin:0 auto;
}

#main-bio {
    float:left;
    width:70%;
    line-height:1.5em;
}

#contact-info{
    float:left;
    width:30%;
    line-height:1.5em;
}

#bio-image{
    float:left;
    width:200px;
    height:300px;
    margin-right:40px;
}

a{
    color:#d21034;
}